@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@800&display=swap");

:root {
  --lightCyan: hsl(193, 38%, 86%);
  --neonGreen: hsl(150, 100%, 66%);
  /*  hsl(217, 19%, 38%); */
  --grayishBlue: hsl(218, 20%, 24%);
  /* --darkGrayishBlue: hsl(217, 19%, 24%); */
  --darkGrayishBlue: hsl(220, 22%, 16%);
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

img {
  width: 100%;
}

body {
  background-color: var(--darkGrayishBlue);
  font-size: 28px;
  font-family: "Manrope", sans-serif;
}

.container {
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container .box {
  position: relative;
  width: 100%;
  max-width: 450px;
  border-radius: 20px;
  background-color: var(--grayishBlue);
  text-align: center;
  padding: 30px;
  margin: 0 20px;
  box-shadow: 0px 30px 30px rgba(0, 0, 0, 0.1);
}

.container .img__wapper {
  position: absolute;
  background-color: var(--neonGreen);
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  left: calc(50% - 25px);
  bottom: -25px;
}

.img__wapper img {
  width: 24px;
}

.advice__id {
  color: var(--neonGreen);
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.advice__text {
  color: var(--lightCyan);
  line-height: 1.6;
  font-size: 20px;
  margin: 20px;
}
